.settings_block {
  padding: 24px 24px 4px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
}

.settings_block .settings_header {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #737373;
  margin-bottom: 12px;
}

.settings_block .settings_drop_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.settings_block .settings_drop_list .text {
  margin-right: 12px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #3c3c3c;
}

.settings_block .settings_drop_list .drop_down_list {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.settings_block .settings_drop_list .drop_down_list ._drop_down_title {
  height: 40px;
  background: #ffffff;
  border: 1px solid #dcdcdc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 12px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #737373;
}

.settings_block .settings_drop_list .drop_down_list ._drop_down_title .arrow {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.settings_block .settings_drop_list .drop_down_list .drop_down_body {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: 100%;
  z-index: 10;
  background: #fff;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), 0px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), 0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 5px 5px;
  padding-bottom: 8px;
  text-align: center;
  display: none;
}

.settings_block .settings_drop_list .drop_down_list .drop_down_body ._drop_item {
  padding: 8px 0 8px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.settings_block .settings_drop_list .drop_down_list .drop_down_body ._drop_item .icon {
  margin-right: 12px;
  width: 24px;
  height: 24px;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.settings_block .settings_drop_list .drop_down_list .drop_down_body ._drop_item .icon img {
  opacity: 0;
}

.settings_block .settings_drop_list .drop_down_list .drop_down_body ._drop_item .text {
  font-size: 16px;
  line-height: 20px;
  color: #3c3c3c;
}

.settings_block .settings_drop_list .drop_down_list .drop_down_body .confirsm_btn {
  margin: 12px auto 0;
  padding: 7px 16px;
  border: 1px solid #174ef3;
  border-radius: 4px;
  font-size: 14px;
  line-height: 18px;
  color: #174ef3;
  display: inline-block;
  cursor: pointer;
}

.settings_block .settings_drop_list .drop_down_list._active ._drop_down_title {
  border: 1px solid #3c3c3c;
}

.settings_block .settings_drop_list .drop_down_list._active ._drop_down_title .text {
  color: #3c3c3c;
}

.settings_block .settings_drop_list .drop_down_list._active ._drop_down_title .arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.graphics_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-top: 20px;
  margin: 20px -10px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.graphics_cont .graph_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 20px);
          flex: 0 1 calc(50% - 20px);
  padding: 25px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  position: relative;
  margin: 0 10px 20px;
}

.graphics_cont .graph_item .graph_header {
  font-size: 16px;
  line-height: 20px;
  color: #737373;
  margin-bottom: 33px;
  font-weight: bold;
}

.graphics_cont .graph_item .graph_body {
  height: 204px;
  padding-left: 45px;
  padding-bottom: 30px;
  position: relative;
}

.graphics_cont .graph_item .graph_body .chart_y {
  top: 0;
  width: 45px;
  left: 0;
  position: absolute;
  height: calc(100% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 10px;
  line-height: 12px;
  color: #737373;
  border-right: 1px solid #f2f2f2;
}

.graphics_cont .graph_item .graph_body .chart_x {
  height: 30px;
  border-top: 1px solid #f2f2f2;
  bottom: 5px;
  left: 45px;
  position: absolute;
  width: calc(100% - 45px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 10px;
  line-height: 12px;
  color: #737373;
}

.graphics_cont .graph_item .graph_body .chart_x .chart_item {
  position: relative;
}

.graphics_cont .graph_item .graph_body .chart_x .chart_item:after {
  content: "";
  position: absolute;
  bottom: 25px;
  left: 50%;
  width: 1px;
  height: 174px;
  display: block;
  background: #f2f2f2;
}

@media screen and (max-width: 450px) {
  .graphics_cont .graph_item .graph_body .chart_x .chart_item:after {
    height: 170px;
  }
}

@media screen and (max-width: 450px) {
  .graphics_cont .graph_item .graph_body .chart_x .chart_item {
    white-space: nowrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .graphics_cont .graph_item .graph_body .chart_x .chart_item p {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.graphics_cont .graph_item .graph_body .img {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 2;
  position: relative;
}

.graphics_cont .graph_item .graph_body .img img {
  width: 100%;
}

@media screen and (max-width: 450px) {
  .graphics_cont .graph_item .graph_body {
    height: 200px;
  }
}

.graphics_cont .graph_item .cross {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.graphics_cont .graph_item .add_container {
  width: 100%;
  height: 100%;
  min-height: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.graphics_cont .graph_item .add_container .add_one_more_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 20px;
  border: 1px solid #4872f2;
  border-radius: 4px;
  cursor: pointer;
}

.graphics_cont .graph_item .add_container .add_one_more_btn .icon {
  margin-right: 8px;
}

.graphics_cont .graph_item .add_container .add_one_more_btn .text {
  font-size: 16px;
  line-height: 24px;
  color: #4872f2;
}

@media screen and (max-width: 900px) {
  .graphics_cont .graph_item .add_container {
    height: 285px;
  }
}

.graphics_cont .graph_item .apend_body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: #fff;
  padding: 24px 0;
  border-radius: 8px;
}

.graphics_cont .graph_item .apend_body .apend_header {
  padding-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #3c3c3c;
  padding-left: 24px;
  padding-right: 24px;
}

.graphics_cont .graph_item .apend_body .apend_cont {
  height: calc(100% - 35px);
  overflow: auto;
  scrollbar-width: thin;
}

.graphics_cont .graph_item .apend_body .apend_cont .apend_item {
  padding: 10px 24px;
  font-size: 16px;
  line-height: 20px;
  color: #3c3c3c;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.graphics_cont .graph_item .apend_body .apend_cont .apend_item:hover {
  background: #edf1fe;
}

@media screen and (max-width: 450px) {
  .graphics_cont .graph_item {
    padding: 15px;
  }
}

.graphics_cont._analitics_3 .graph_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.graphics_cont._analitics_3 .graph_body {
  height: 427px;
}

.graphics_cont._analitics_3 .graph_body .chart_x .chart_item::after {
  height: 407px;
  bottom: 15px;
}

.graphics_cont._analitics_3 .graph_body .chart_x:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 100%;
  height: 1px;
  display: block;
  background: #f2f2f2;
}

@media screen and (max-width: 900px) {
  .graphics_cont {
    display: block;
  }
}

.your_analitics {
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  margin-top: 12px;
}

.your_analitics .checkbox_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-bottom: 18px;
}

.your_analitics .checkbox_item .icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  height: 24px;
  margin-right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.your_analitics .checkbox_item .icon img {
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.your_analitics .checkbox_item .text {
  font-size: 16px;
  line-height: 20px;
  color: #3c3c3c;
  font-weight: 400;
}

.your_analitics .checkbox_item._active .icon {
  border: 1px solid #4872f2;
}

.your_analitics .checkbox_item._active .icon img {
  opacity: 1;
}

.your_analitics .part_title {
  padding: 32px 24px 24px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #3c3c3c;
}

.your_analitics .first_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px 4px;
  border-bottom: 1px solid #dcdcdc;
}

.your_analitics .first_row .checkbox_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.your_analitics .check_body {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.your_analitics .check_body .checkbox_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media screen and (max-width: 500px) {
  .your_analitics .check_body {
    display: block;
  }
}

.popular_tags {
  border: 1px solid #dcdcdc;
  border-radius: 8px;
}

.popular_tags .popular_header {
  padding: 24px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #3c3c3c;
}

@media screen and (max-width: 600px) {
  .popular_tags .popular_header {
    margin-bottom: 0;
  }
}

.popular_tags .graph_tags_body {
  padding: 0 32px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 -5px;
  height: 210px;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popular_tags .graph_tags_body .graphic_column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(16.666% - 10px);
          flex: 0 1 calc(16.666% - 10px);
  margin: 0 5px 20px;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popular_tags .graph_tags_body .graphic_column .value {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: #edf1fe;
  border-radius: 4px 4px 0px 0px;
  margin-bottom: 18px;
  font-size: 0;
}

.popular_tags .graph_tags_body .graphic_column .name {
  font-size: 12px;
  line-height: 16px;
  color: #737373;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .popular_tags .graph_tags_body .graphic_column {
    height: 70px;
  }
}

.popular_tags .graph_tags_body:after {
  content: "";
  position: absolute;
  bottom: 57px;
  left: 27px;
  width: calc(100% - 54px);
  height: 1px;
  display: block;
  background: #f2f2f2;
}

@media screen and (max-width: 600px) {
  .popular_tags .graph_tags_body:after {
    display: none;
  }
}
