.settings_block {
    padding: 24px 24px 4px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    .settings_header {
        font-weight: bold;
        font-size: 18px;
        line-height: 20px;
        color: #737373;
        margin-bottom: 12px;
    }
    .settings_drop_list {
        display: flex;
        align-items: center;
        .text {
            margin-right: 12px;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            color: #3c3c3c;
        }
        .drop_down_list {
            position: relative;
            flex: 1 1 auto;
            ._drop_down_title {
                height: 40px;
                background: #ffffff;
                border: 1px solid #dcdcdc;
                box-sizing: border-box;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 12px;
                transition: 0.2s;
                color: #737373;
                .arrow {
                    transition: 0.2s;
                }
            }
            .drop_down_body {
                position: absolute;
                top: calc(100% + 2px);
                left: 0;
                width: 100%;
                z-index: 10;
                background: #fff;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), 0px 10px 10px rgba(0, 0, 0, 0.1);
                border-radius: 0px 0px 5px 5px;
                padding-bottom: 8px;
                text-align: center;
                display: none;
                ._drop_item {
                    padding: 8px 0 8px 12px;
                    display: flex;
                    align-items: center;
                    .icon {
                        margin-right: 12px;
                        width: 24px;
                        height: 24px;
                        border: 1px solid #b9b9b9;
                        border-radius: 4px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img {
                            opacity: 0;
                        }
                    }
                    .text {
                        font-size: 16px;
                        line-height: 20px;
                        color: #3c3c3c;
                    }
                }
                .confirsm_btn {
                    margin: 12px auto 0;
                    padding: 7px 16px;
                    border: 1px solid #174ef3;
                    border-radius: 4px;

                    font-size: 14px;
                    line-height: 18px;
                    color: #174ef3;
                    display: inline-block;
                    cursor: pointer;
                }
            }
            &._active {
                ._drop_down_title {
                    border: 1px solid #3c3c3c;
                    .text {
                        color: #3c3c3c;
                    }
                    .arrow {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}

.graphics_cont {
    display: flex;
    align-items: stretch;
    margin-top: 20px;
    margin: 20px -10px 0;
    flex-wrap: wrap;
    .graph_item {
        flex: 0 1 calc(50% - 20px);
        padding: 25px;
        border: 1px solid #dcdcdc;
        border-radius: 8px;
        position: relative;
        margin: 0 10px 20px;
        .graph_header {
            font-size: 16px;
            line-height: 20px;
            color: #737373;
            margin-bottom: 33px;
            font-weight: bold;
        }
        .graph_body {
            height: 204px;

            padding-left: 45px;
            padding-bottom: 30px;
            position: relative;
            .chart_y {
                top: 0;
                width: 45px;
                left: 0;
                position: absolute;
                height: calc(100% - 30px);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-size: 10px;
                line-height: 12px;
                color: #737373;
                border-right: 1px solid #f2f2f2;
            }
            .chart_x {
                height: 30px;
                border-top: 1px solid #f2f2f2;
                bottom: 5px;
                left: 45px;
                position: absolute;
                width: calc(100% - 45px);
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                font-size: 10px;
                line-height: 12px;
                color: #737373;
                .chart_item {
                    position: relative;
                    &:after {
                        content: "";
                        position: absolute;
                        bottom: 25px;
                        left: 50%;
                        width: 1px;
                        height: 174px;
                        display: block;
                        background: #f2f2f2;

                        @media screen and (max-width: 450px) {
                            height: 170px;
                        }
                    }
                    @media screen and (max-width: 450px) {
                        white-space: nowrap;
                        flex: 0 0 auto;
                        p {
                            transform: rotate(45deg);
                        }
                    }
                }
            }
            .img {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: flex-end;
                z-index: 2;
                position: relative;
                img {
                    width: 100%;
                }
            }
            @media screen and (max-width: 450px) {
                height: 200px;
            }
        }
        .cross {
            position: absolute;
            top: 15px;
            right: 15px;
            cursor: pointer;
        }
        .add_container {
            width: 100%;
            height: 100%;
            min-height: 256px;
            display: flex;
            align-items: center;
            justify-content: center;
            .add_one_more_btn {
                display: flex;
                align-items: center;
                padding: 8px 20px;
                border: 1px solid #4872f2;
                border-radius: 4px;
                cursor: pointer;
                .icon {
                    margin-right: 8px;
                }
                .text {
                    font-size: 16px;
                    line-height: 24px;
                    color: #4872f2;
                }
            }
            @media screen and (max-width: 900px) {
                height: 285px;
            }
        }
        .apend_body {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
            background: #fff;
            padding: 24px 0;
            border-radius: 8px;
            .apend_header {
                padding-bottom: 8px;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                color: #3c3c3c;
                padding-left: 24px;
                padding-right: 24px;
            }
            .apend_cont {
                height: calc(100% - 35px);
                overflow: auto;
                scrollbar-width: thin;
                .apend_item {
                    padding: 10px 24px;
                    font-size: 16px;
                    line-height: 20px;
                    color: #3c3c3c;
                    cursor: pointer;
                    transition: 0.3s;
                    &:hover {
                        background: #edf1fe;
                    }
                }
            }
        }
        @media screen and (max-width: 450px) {
            padding: 15px;
        }
    }
    &._analitics_3 {
        .graph_item {
            flex: 0 1 100%;
        }
        .graph_body {
            height: 427px;
            .chart_x {
                .chart_item {
                    &::after {
                        height: 407px;
                        bottom: 15px;
                        @media screen and (max-width: 600px) {
                            height: 200px;
                        }
                    }
                }
                &:after {
                    content: "";
                    position: absolute;
                    top: 4px;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    display: block;
                    background: #f2f2f2;
                }
            }
            @media screen and (max-width: 600px) {
                height: 200px;
            }
        }
    }
    &._rait {
        .graph_item {
            border: none;
            padding: 0;
        }
        .graph_header {
            color: #3c3c3c;
        }
    }
    @media screen and (max-width: 900px) {
        display: block;
    }
}

.your_analitics {
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    margin-top: 12px;
    .checkbox_item {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-bottom: 18px;
        .icon {
            flex: 0 0 24px;
            border: 1px solid #b9b9b9;
            border-radius: 4px;
            height: 24px;
            margin-right: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                opacity: 0;
                transition: 0.2s;
            }
        }
        .text {
            font-size: 16px;
            line-height: 20px;
            color: #3c3c3c;
            font-weight: 400;
        }
        &._active {
            .icon {
                border: 1px solid #4872f2;
                img {
                    opacity: 1;
                }
            }
        }
    }
    .part_title {
        padding: 32px 24px 24px;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #3c3c3c;
    }
    .first_row {
        display: flex;
        align-items: center;
        padding: 0 24px 4px;
        border-bottom: 1px solid #dcdcdc;
        .checkbox_item {
            flex: 0 1 50%;
        }
    }
    .check_body {
        padding: 24px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .checkbox_item {
            flex: 0 1 50%;
        }
        @media screen and (max-width: 500px) {
            display: block;
        }
    }
}
.popular_tags {
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    .popular_header {
        padding: 24px;
        margin-bottom: 30px;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #3c3c3c;
        @media screen and (max-width: 600px) {
            margin-bottom: 0;
        }
    }
    .graph_tags_body {
        padding: 0 32px 24px;
        display: flex;
        align-items: flex-end;
        margin: 0 -5px;
        position: relative;
        flex-wrap: wrap;
        .graphic_column {
            flex: 0 0 calc(16.666% - 10px);
            margin: 0 5px 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .value {
                padding-bottom: 90%;
                background: #edf1fe;
                border-radius: 4px 4px 0px 0px;
                margin-bottom: 18px;
                font-size: 0;
            }
            .name {
                font-size: 12px;
                line-height: 16px;
                color: #737373;
                text-align: center;
            }
            @media screen and (max-width: 600px) {
            }
        }
        &:after {
            content: "";
            position: absolute;
            bottom: 76px;
            left: 27px;
            width: calc(100% - 54px);
            height: 1px;
            display: block;
            background: #f2f2f2;
            @media screen and (max-width: 600px) {
                display: none;
            }
        }
    }
}

.main_desc {
    font-size: 14px;
    line-height: 18px;
    color: #3c3c3c;
    margin-bottom: 24px;
    &._buil_2 {
        margin-bottom: 15px;
    }
}
.filter_item._builling {
    max-width: 460px;
    margin-bottom: 25px;
    .item_title {
        font-size: 14px;
        line-height: 18px;
        color: #737373;
        margin-bottom: 4px;
    }
    .drop_down_list {
        position: relative;
        ._drop_down_title {
            height: 40px;
            background: #ffffff;
            border: 1px solid #dcdcdc;
            box-sizing: border-box;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 12px;
            transition: 0.2s;
            color: #737373;
            .arrow {
                transition: 0.2s;
            }
        }
        .drop_down_body {
            position: absolute;
            top: calc(100% + 2px);
            left: 0;
            width: 100%;
            z-index: 10;
            background: #fff;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), 0px 10px 10px rgba(0, 0, 0, 0.1);
            border-radius: 0px 0px 5px 5px;
            padding-bottom: 8px;
            text-align: center;
            display: none;
            ._drop_item {
                padding: 8px 0 8px 12px;
                display: flex;
                align-items: center;
                .icon {
                    margin-right: 12px;
                    width: 24px;
                    height: 24px;
                    border: 1px solid #b9b9b9;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        opacity: 0;
                    }
                }
                .text {
                    font-size: 16px;
                    line-height: 20px;
                    color: #3c3c3c;
                }
            }
            .confirsm_btn {
                margin: 12px auto 0;
                padding: 7px 16px;
                border: 1px solid #174ef3;
                border-radius: 4px;

                font-size: 14px;
                line-height: 18px;
                color: #174ef3;
                display: inline-block;
                cursor: pointer;
            }
        }
        &._active {
            ._drop_down_title {
                border: 1px solid #3c3c3c;
                .text {
                    color: #3c3c3c;
                }
                .arrow {
                    transform: rotate(180deg);
                }
            }
        }
    }
}

.builling_pre_table {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .calendar_search_row {
        flex: 0 0 460px;
        margin-top: 0;
        margin-bottom: 0px;
        .calendar_item {
            margin-right: 16px;
            .item_title {
                margin-right: 12px;
            }
            .drop_dowm_list {
                flex: 0 1 150px;
            }
        }
        .icon_cont {
            transform: translateY(-5px);
        }
        @media screen and (max-width: 1000px) {
            max-width: 460px;
        }
    }
    .info_container {
        transform: none;
        margin: 0 -5px;
        .buttons {
            width: 100%;
            text-align: center;

            .button {
                flex: 1 1 auto;
            }
        }
    }
    .checkbox_item {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
        margin-bottom: 12px;
        .icon {
            flex: 0 0 24px;
            border: 1px solid #b9b9b9;
            border-radius: 4px;
            height: 24px;
            margin-right: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                opacity: 0;
                transition: 0.2s;
            }
        }
        .text {
            font-size: 14px;
            line-height: 18px;
            color: #3c3c3c;
            font-weight: 400;
        }
        &._active {
            .icon {
                border: 1px solid #4872f2;
                img {
                    opacity: 1;
                }
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
        @media screen and (max-width: 800px) {
            justify-content: flex-start;
        }
    }
    .statistic_information {
        flex: 0 1 360px;
        margin-left: 50px;
        .stat_item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 12px;
            .name {
                font-size: 14px;
                line-height: 16px;
                color: #3c3c3c;
            }
            .value {
                font-weight: 600;
                font-size: 14px;
                line-height: 16px;
                color: #3c3c3c;
            }
            &:first-child {
                .name {
                    font-size: 16px;
                    line-height: 18px;
                    color: #3c3c3c;
                }
                .value {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 18px;
                    color: #3c3c3c;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        @media screen and (max-width: 1000px) {
            margin-top: 20px;
            margin-left: 0;
            max-width: 460px;
        }
    }
    &._rait_2 {
        @media screen and (max-width: 1000px) {
            display: flex;
        }
        @media screen and (max-width: 800px) {
            display: block;
        }
    }
    @media screen and (max-width: 1000px) {
        display: block;
    }
}

.btn_action_cont {
    display: flex;
    align-items: center;
    margin-top: 24px;
    flex-wrap: wrap;
    .button {
        padding: 8px 20px;
        border: 1px solid #4872f2;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #4872f2;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

.rait_block {
    display: flex;
    align-items: flex-start;

    padding-bottom: 35px;
    margin-bottom: 35px;
    border-bottom: 1px solid #dcdcdc;
    .left_part {
        margin-right: 23px;
        flex: 0 1 227px;
        .rait_title {
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            color: #3c3c3c;
        }
        .rait {
            margin-top: 12px;
            .span_1 {
                font-weight: bold;
                font-size: 18px;
                line-height: 16px;
                color: #3c3c3c;

                margin: 0 8px;
            }
            .span_2 {
                font-size: 14px;
                line-height: 16px;
                color: #737373;
            }
        }
        .learn_more {
            margin-top: 12px;
            display: inline-block;
            font-size: 14px;
            line-height: 18px;
            text-decoration-line: underline;
            color: #4872f2;
        }
    }
    .right_part {
        flex: 0 1 394px;
        .rait_item {
            display: flex;
            align-items: center;
            margin-bottom: 8px;
            .name {
                font-size: 14px;
                line-height: 18px;
                color: #3c3c3c;
                margin-right: 12px;
                flex: 0 1 118px;
            }
            .value {
                flex: 1 1 auto;
                padding: 3px;
                background: #f2f2f2;
                border-radius: 4px;
                .inside {
                    background: #4872f2;
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    border-radius: 4px 0 0 4px;
                    width: 60%;

                    font-size: 10px;
                    line-height: 16px;
                    color: #ffffff;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .graph_item {
        flex: 0 1 calc(50% - 20px);
        padding: 25px 12px;
        border: 1px solid #dcdcdc;
        border-radius: 8px;
        position: relative;
        margin: 0 10px 20px;
        .graph_header {
            font-size: 16px;
            line-height: 20px;
            color: #737373;
            margin-bottom: 33px;
            font-weight: bold;
        }
        .graph_body {
            height: 204px;

            padding-left: 45px;
            padding-bottom: 30px;
            position: relative;
            .chart_y {
                top: 0;
                width: 45px;
                left: 0;
                position: absolute;
                height: calc(100% - 30px);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-size: 10px;
                line-height: 12px;
                color: #737373;
                border-right: 1px solid #f2f2f2;
            }
            .chart_x {
                height: 30px;
                border-top: 1px solid #f2f2f2;
                bottom: 5px;
                left: 45px;
                position: absolute;
                width: calc(100% - 45px);
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                font-size: 10px;
                line-height: 12px;
                color: #737373;
                .chart_item {
                    position: relative;
                    &:after {
                        content: "";
                        position: absolute;
                        bottom: 25px;
                        left: 50%;
                        width: 1px;
                        height: 174px;
                        display: block;
                        background: #f2f2f2;
                        @media screen and (max-width: 800px) {
                            height: 370px;
                        }
                        @media screen and (max-width: 450px) {
                            height: 170px;
                        }
                    }
                    @media screen and (max-width: 450px) {
                        white-space: nowrap;
                        flex: 0 0 auto;
                        p {
                            transform: rotate(45deg);
                        }
                    }
                }
            }
            .img {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: flex-end;
                z-index: 2;
                position: relative;
                img {
                    width: 100%;
                }
            }
            @media screen and (max-width: 800px) {
                height: 400px;
            }
            @media screen and (max-width: 450px) {
                height: 200px;
            }
        }
        .cross {
            position: absolute;
            top: 15px;
            right: 15px;
            cursor: pointer;
        }
        .add_container {
            width: 100%;
            height: 100%;
            min-height: 256px;
            display: flex;
            align-items: center;
            justify-content: center;
            .add_one_more_btn {
                display: flex;
                align-items: center;
                padding: 8px 20px;
                border: 1px solid #4872f2;
                border-radius: 4px;
                cursor: pointer;
                .icon {
                    margin-right: 8px;
                }
                .text {
                    font-size: 16px;
                    line-height: 24px;
                    color: #4872f2;
                }
            }
            @media screen and (max-width: 900px) {
                height: 285px;
            }
        }
        .apend_body {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
            background: #fff;
            padding: 24px 0;
            border-radius: 8px;
            .apend_header {
                padding-bottom: 8px;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                color: #3c3c3c;
                padding-left: 24px;
                padding-right: 24px;
            }
            .apend_cont {
                height: calc(100% - 35px);
                overflow: auto;
                scrollbar-width: thin;
                .apend_item {
                    padding: 10px 24px;
                    font-size: 16px;
                    line-height: 20px;
                    color: #3c3c3c;
                    cursor: pointer;
                    transition: 0.3s;
                    &:hover {
                        background: #edf1fe;
                    }
                }
            }
        }
        @media screen and (max-width: 450px) {
            padding: 15px;
        }
    }
    &._rait_2 {
        justify-content: space-between;
        align-items: flex-end;
        .body_rait {
            flex: 0 1 394px;
            margin-right: 23px;
            .right_part {
                margin-top: 20px;
            }
            @media screen and (max-width: 800px) {
                margin-right: 0;
                margin-bottom: 30px;
            }
        }
        .graph_item {
            margin: 0;
        }
        @media screen and (max-width: 800px) {
            display: block;
        }
    }
    @media screen and (max-width: 600px) {
        display: block;
        .left_part {
            margin-bottom: 30px;
        }
    }
}
